header {
    background: #222;
    color: #ddd;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

header h1 {
    padding: 15px;
    cursor: default;
    background: #222;
}

div#content {
    padding: 10px;
}

header img {
    background: none;
    width: 100px;
    margin-top: 10px;
}


