<h2>Informações e Regras</h2>

<ul>
    <li>Move Sports League é o torneio de esportes da juventude Move que será realizado ao longo do ano.
        O objetivo é ter etapas (eventos) a cada mês, cada uma com sua pontuação, classificação e premiação.
        Em paralelo, uma classificação geral também será computada, consistindo da soma das classificações de cada etapa;
    </li>
    
    <li>Etapas</li>
    <ul>
        <li>Todo evento terá uma classificação do dia e os participantes das rodadas estarão aptos a pontuar;</li>
        <li>Os participantes poderão jogar quantas partidas desejarem, porém apenas as CINCO primeiras serão computadas para pontuação;</li>
        <li>Os jogos serão disputados em equipes. A seleção dos times será feita a cada nova rodada, onde duas pessoas irão escolher os membros da equipe de forma intercalada (decisão no par ou ímpar);</li>        
        <li>A pontuação da partida será efetuada de forma igual para todos os integrantes da equipe;</li>
        <li>As informações sobre cada etapa serão lançadas na aba "Eventos Realizados", conforme o andamento do evento.</li>
    </ul>
    
    <li>Pontuação</li>
    <ul>
        <li>Os participantes da equipe vencedora de uma rodada receberão 100 pontos;</li>
        <li>Os participantes da equipe perdedora de uma rodada receberão 30 pontos, de participação;</li>
        <li>Os participantes que vencerem partidas em sequência, receberão 10 pontos bônus por cada vitória sequencial;</li>
        <li>Critérios de desempate:</li>
        <ul>
            <li>Pontuação;</li>
            <li>Maior participação;</li>
            <li>Maior número de vitórias;</li>
            <li>Decisão a partir de uma partida de Trigon entre os participantes empatados:
                <ul>
                    <li>Referência do Jogo: <a href="https://www.youtube.com/watch?v=JHMQCS8lVoI" target="_blank">Link do vídeo (clique)</a>;</li>
                    <li>Lançar a bola com a mão dominante e pegar apenas com a outra;</li>
                    <li>Deixou a bola cair, perde ponto. Perdeu três pontos, está eliminado;</li>
                    <li>Lançamentos apenas com o braço para baixo;</li>
                    <li>Se lançar fora do alcance/corpo do oponente, o lançador perde ponto;</li>
                    <li>O participante que restar por último será o vencedor e receberá 1 ponto extra.</li>
                </ul>
            </li>
        </ul>
    </ul>

    <li>Classificação
        <ul>
            <li>Ao fim de cada etapa, serão computados os pontos de todos os participantes em um ranking do dia e também em um ranking geral;</li>  
            <li>As pontuações gerais serão lançadas na aba de "Classificação Geral";</li>
            <li>As pontuações por etapa serão lançadas na aba de "Eventos Realizados", no card da respectiva etapa.</li>
        </ul>
    </li>

    <li>Premiação</li>
    <ul>
        <li>Após cada etapa, os três primeiros participantes na classificação do dia serão premiados, em momento posterior à etapa;</li>
            <!-- <ul>
                <li>1° Lugar: Medalha personalizada e chocolate;</li>
                <li>2°/3° Lugar: Chocolate;</li>
            </ul> -->
        <li>Ao fim do torneio, previsto para o final do ano, os três primeiros participantes na classificação geral serão premiados em um evento específico;</li>
            <!-- <ul>
                <li>1° Lugar: Camisa personalizada, Garrafinha de Água Personalizada e Troféu Dourado;</li>
                <li>2° Lugar: Garrafinha de Água Personalizada e Troféu Prateado;</li>
                <li>3° Lugar: Troféu Bronzeado.</li>
            </ul> -->
        <li>Premiações especiais ao fim do torneio para os participantes com maior número de 'Participações' e 'Vitórias';</li>
        <li>Dentre os itens de premiação estão: Medalhas, troféus, camisas, garrafinhas de água, chocolates, entre outros. </li>
        <!-- <ul>
            <li>Maior Participação: Camisa personalizada e Garrafinha de Água Personalizada;</li>
            <li>Maior número de Vitórias: Camisa personalizada e Garrafinha de Água Personalizada;</li>            
        </ul> -->
    </ul>

    <li>Cronograma (2023)</li>
    <ul>
        <li>23/06/2023 - 1° Etapa (Queimada)</li>
        <li>04/08/2023 - 2° Etapa (Vôlei)</li>
        <li>16/09/2023 - 3° Etapa (Circuito Pedra da Cebola)</li>
        <li>11/11/2023 - 4° Etapa (Jogos indoor)</li>
        
        <!-- <li>18/08/2023 - 3° Etapa </li> -->
        <!-- <li>...</li> -->
    </ul>
</ul>

<!-- <img [src]="'assets/qr-code site.png'" /> -->
