header {
    background: #222;
    color: #ddd;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

header h1 {
    padding: 15px;
    cursor: default;
    background: #222;
}

div#content {
    padding: 10px;
}

header img {
    background: none;
    width: 100px;
    margin-top: 10px;
}

button#start {
    padding: 30px 0px;
    background-color: #222;
    color: #ddd;
    width: 100%;
    font-size: 2em;
}

button.penalty {
    background-color: red;
    color: white;
    width: 50%;
}

div#content{    
    width: 90%;
    font-size: 2em;
    text-align: center;
    margin: 0 auto;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#content span {
    font-size: 0.4em;
}

button:disabled {
    background-color: #888 !important;
}

.lose {
    color: red;
    font-size: 1.7em;
    display: flex;
    align-items: center;
}

.normal {
    color: black;
    font-size: 1.7em;
    display: flex;
    align-items: center;
}

button.general_button{
    padding: 5px;
}

.arrow {
    font-weight: bold;
    margin-right: 10px;
    font-size: 0.8em !important;
}